.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.App h2 {
  font-size: 50px;
  color: #007BFF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.plantsSection {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.plantContainer {
  height: 390px;
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px 5px;
  border-radius: 10%;
}

.plantImgContainer {
  width: 200px;
}

img {
  height: 100%;
  width: 100%;
}

.containerNo1 {
  background-color: #E6F4F1;
  color: #007BFF;
}

.containerNo2 {
  background-color: #E6F4F1;
  color: #007BFF;
}

.containerNo3 {
  background-color: #E6F4F1;
  color: #007BFF;
}

.containerNo4 {
  background-color: #E6F4F1;
  color: #007BFF;
}

.containerNo5 {
  background-color: #E6F4F1;
  color: #007BFF;
}

p#textId {
  font-size: 20px;
  margin-bottom: 0;
}

p#alertP {
  font-size: 20px;
  margin-bottom: 0;
  color: red;
}

.plantText {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.col {
  margin-bottom: 10px;
}